 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 529px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 451px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 59px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0 auto 0 1px;
}

.u-section-1 .u-text-2 {
  background-image: none;
  font-size: 1.25rem;
  margin: 18px 1px 0;
}

.u-section-1 .u-image-1 {
  min-height: 409px;
  background-image: url("images/IMG_1369.png");
  background-position: 50% 50%;
  transition-duration: 0.5s;
}

.u-section-1 .u-container-layout-2 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 372px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    font-family: "PT Sans", sans-serif;
  }

  .u-section-1 .u-image-1 {
    min-height: 337px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 334px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-1 {
    min-height: 258px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    min-height: 581px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 158px;
  }

  .u-section-1 .u-image-1 {
    min-height: 366px;
  }
}

.u-section-1 .u-image-1,
.u-section-1 .u-image-1:before,
.u-section-1 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-1.u-image-1.u-image-1:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-image-1.u-image-1.u-image-1.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}.u-section-2 .u-sheet-1 {
  min-height: 701px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 31px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  width: 995px;
  margin: 0 auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-gap: 0px 0px;
  min-height: 526px;
  grid-auto-columns: 20%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-icon-5 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-icon-6 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-icon-7 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px;
}

.u-section-2 .u-icon-8 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px;
}

.u-section-2 .u-icon-9 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-2 .u-container-layout-10 {
  padding: 30px;
}

.u-section-2 .u-icon-10 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-11 {
  font-weight: 700;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    height: auto;
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 497px;
    grid-template-columns: repeat(5, 20%);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 1269px;
    grid-template-columns: repeat(3, 33.333333333333336%);
    grid-auto-columns: 33.333333333333336%;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 1785px;
    grid-template-columns: repeat(2, 50%);
    grid-auto-columns: 50%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }
}.u-block-7e60-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-7e60-3 {
  position: absolute;
  left: 0;
}

.u-block-7e60-4 {
  position: absolute;
  right: 0;
}

 .u-section-3-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/nubelson-fernandes--Xqckh_XVU4-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-3-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-3-1 .u-text-1 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-3-1 .u-text-2 {
  font-size: 4.5rem;
  font-weight: 700;
  background-image: none;
  margin: 248px auto 0;
}

.u-section-3-1 .u-btn-1 {
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 36px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-3-1 .u-text-2 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-3-1 .u-text-2 {
    font-size: 3rem;
  }
}

 .u-section-3-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/javid-naderi-xShLnB1e9KU-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-3-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-3-2 .u-text-1 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-3-2 .u-text-2 {
  font-size: 4.5rem;
  font-weight: 700;
  background-image: none;
  margin: 208px auto 0;
}

.u-section-3-2 .u-btn-1 {
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 36px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-3-2 .u-text-2 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-3-2 .u-text-2 {
    font-size: 3rem;
  }
}

 .u-section-3-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/suraj-kardile-pgQIZCyRTYg-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-3-3 .u-sheet-1 {
  min-height: 800px;
}

.u-section-3-3 .u-text-1 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-3-3 .u-text-2 {
  font-size: 4.5rem;
  font-weight: 700;
  background-image: none;
  margin: 208px auto 0;
}

.u-section-3-3 .u-btn-1 {
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 36px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-3-3 .u-text-2 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-3-3 .u-text-2 {
    font-size: 3rem;
  }
}

 .u-section-3-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/gabriel-heinzer-xbEVM6oJ1Fs-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-3-4 .u-sheet-1 {
  min-height: 800px;
}

.u-section-3-4 .u-text-1 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-3-4 .u-text-2 {
  font-size: 4.5rem;
  font-weight: 700;
  background-image: none;
  margin: 248px auto 0;
}

.u-section-3-4 .u-btn-1 {
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 36px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3-4 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-3-4 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-3-4 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-3-4 .u-text-2 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-3-4 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-3-4 .u-text-2 {
    font-size: 3rem;
  }
}

 .u-section-3-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/adeolu-eletu-unRkg2jH1j0-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-3-5 .u-sheet-1 {
  min-height: 800px;
}

.u-section-3-5 .u-text-1 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-3-5 .u-text-2 {
  font-size: 4.5rem;
  font-weight: 700;
  background-image: none;
  margin: 248px auto 0;
}

.u-section-3-5 .u-btn-1 {
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 36px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3-5 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-3-5 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-3-5 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-3-5 .u-text-2 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-3-5 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-3-5 .u-text-2 {
    font-size: 3rem;
  }
}